.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 97vh;
  .login {
    width: 500px;
    border: 1px solid #333;
    padding: 2rem;
    text-align: center;
    h2 {
      text-align: center;
      margin-bottom: 2rem;
    }
  }
}
